body {
    background-color: rgb(18, 18, 20);
    font-size: 16px;
    color: #E1E1E6;
    font-family: Gooper,sans-serif;
}

h1{
    font-size: 2.5em;
    color: #8257E5;
    text-align: center;
    font-family: fantasy;
    background-color: #29292E;
    border-top: 1px solid #8257E5;
    border-bottom: 1px solid #8257E5;
}

h3 {
    text-align: center;
    font-size: 1.5em;
    background-color: #29292E;
    color: #8257E5;
    border-top: 1px solid #8257E5;
    border-bottom: 1px solid #8257E5;
}

img {
    width: 200px;
    margin: auto;
    display: block;
    border-radius: 5%;    
    border: 1px solid #8257E5;    
}

p{
    text-align: center;
    border-top: 1px solid #8257E5;
    border-bottom: 1px solid #8257E5;
    padding: 15px;
    width: initial;
    background-color: #29292E;
    
}

ul {
    text-align: center;
    list-style: none;  
    font-weight: 600;  
    background-color: #29292E;
    border-top: 1px solid #8257E5;
    border-bottom: 1px solid #8257E5;
}

strong {
    color: #8257E5;
}

a {
    color: #04D361;
    font-weight: 600;    
}

