* {
    margin: 0;
    padding: 0;
}

body {
    padding: 5%;
    background-color: #121214;
    color: #E1E1E6;
}

.img-container {
    height: 200px; 
    position: relative; 
    padding: 20px;  
}

#minha-foto {
    position: absolute;
    float: left;
    height: 190px;  
    padding: 5px; 
    background-color: #04D361;
    left: 15%;
}

.descricao {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    left: 32%;
    top: 25%;
    padding: 10px;
    border-top: 2px solid #8257E5;
    border-bottom: 2px solid #8257E5;
}

.meu-nome {
    text-align: center;
    border-top: 2px solid #8257E5;
    border-bottom: 2px solid #8257E5;
}

strong {
    color: #8257E5;
}

.lista-habilidades {
    border-bottom: 2px solid #8257E5;    
}

ul li {
    text-align: center;
    list-style: none;
    width: 280px;     
}

ul li:nth-child(odd) {
    background-color: #8257E5;
    font-weight: 700;
}

.habilidades-titulo {
    text-align: center;
    padding: 15px;
    border-top: 2px solid #8257E5;
    border-bottom: 2px solid #8257E5;    
}

.habilidades-container {
    display: flex;     
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.tags-footer {
   display: block;  
   border-top: 2px solid #8257E5; 
   padding: 20px; 
   margin-top: 20px;
   
}






